<div class="grid lg:grid-cols-4 md:grid-cols-2 gap-4">
    <!-- Col 1 -->
    <div class="flex justify-between items-center gap-2 bg-[#FFE2E6] py-6 px-8 rounded">
        <div class="flex items-center gap-3">
            <div class="bg-[#FA5A7E] text-white rounded-full w-10 h-10 flex items-center justify-center">
                <lucide-icon name="trending-up"></lucide-icon>
            </div>
            <div>
                <p class="text-sm">Total Earnings</p>
                <h3 class="font-bold">$98,457.20</h3>
            </div>
        </div>
        <div class="flex items-center gap-1 bg-[#FA5A7E] text-white rounded-full px-2">
            <span class="text-sm">3.47%</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-arrow-up">
                <path d="m5 12 7-7 7 7" />
                <path d="M12 19V5" />
            </svg>
        </div>
    </div>
    <!-- Col 2 -->
    <div class="flex justify-between items-center gap-2 bg-[#FFF4DE] py-6 px-8 rounded">
        <div class="flex items-center gap-3">
            <div class="bg-[#FF927B] text-white rounded-full w-10 h-10 flex items-center justify-center">
                <lucide-icon name="trending-up"></lucide-icon>
            </div>
            <div>
                <p class="text-sm">Customers</p>
                <h3 class="font-bold">$98,457.20</h3>
            </div>
        </div>
        <div class="flex items-center gap-1 bg-[#FF927B] text-white rounded-full px-2">
            <span class="text-sm">3.47%</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-arrow-up">
                <path d="m5 12 7-7 7 7" />
                <path d="M12 19V5" />
            </svg>
        </div>
    </div>
    <!-- Col 3 -->
    <div class="flex justify-between items-center gap-2 bg-[#DCFCE7] py-6 px-8 rounded">
        <div class="flex items-center gap-3">
            <div class="bg-[#3BDC56] text-white rounded-full w-10 h-10 flex items-center justify-center">
                <lucide-icon name="trending-up"></lucide-icon>
            </div>
            <div>
                <p class="text-sm">Orders</p>
                <h3 class="font-bold">48982.54</h3>
            </div>
        </div>
        <div class="flex items-center gap-1 bg-[#3BDC56] text-white rounded-full px-2">
            <span class="text-sm">3.47%</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-arrow-down">
                <path d="M12 5v14" />
                <path d="m19 12-7 7-7-7" />
            </svg>
        </div>
    </div>
    <!-- Col 4 -->
    <div class="flex justify-between items-center gap-2 bg-[#F4E8FF] py-6 px-8 rounded">
        <div class="flex items-center gap-3">
            <div class="bg-[#BF83FF] text-white rounded-full w-10 h-10 flex items-center justify-center">
                <lucide-icon name="trending-up"></lucide-icon>
            </div>
            <div>
                <p class="text-sm">Available Balance</p>
                <h3 class="font-bold">$98,457.20</h3>
            </div>
        </div>
        <div class="flex items-center gap-1 bg-[#BF83FF] text-white rounded-full px-2">
            <span class="text-sm">3.47%</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-arrow-down">
                <path d="M12 5v14" />
                <path d="m19 12-7 7-7-7" />
            </svg>
        </div>
    </div>
</div>