
.circle-dollar-sign{
    background-color: #F1EDFC;
    color: #7C2ED9;
}
.trending-up{
    background-color: #F2FAFF;
    color: #45AAE4;
}
.package-2{
    background-color: #FEEFF1;
    color: #E5487B;
}
.users{
    background-color: #FFF3E9;
    color: #FA8D4C;
}

/* ::ng-deep .p-datepicker table td > span {
    background-color: orange;
  } */
  
  ::ng-deep .p-datepicker table td.p-datepicker-today > span {
    background-color: #1D4ED8;
    color: white;
  }