<div>
    <h1 class="mb-6">Dashboard</h1>
    <div class="grid lg:grid-cols-4 md:grid-cols-2 gap-6">
        <!-- Col 1 -->
        <div class="flex justify-between items-center gap-2 bg-white py-6 px-8 rounded">
            <div class="flex gap-4 items-center">
                <div class="bg-[#F1EDFC] text-[#7C2ED9] rounded-full w-12 h-12 p-1 flex items-center justify-center">
                    <lucide-icon name="circle-dollar-sign"></lucide-icon>
                </div>
                <div>
                    <p class="text-sm text-gray-500">Total Today Sales</p>
                    <h3 class="font-medium text-lg">4,42,236</h3>
                </div>
            </div>
            <div>
                <div class="flex items-center gap-1 bg-[#E6F4FF] text-blue-700 rounded px-2">
                    <span class="text-sm">3.47%</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-arrow-up">
                        <path d="m5 12 7-7 7 7" />
                        <path d="M12 19V5" />
                    </svg>
                </div>
            </div>
        </div>
        <!-- Col 2 -->
        <div class="flex justify-between items-center gap-2 bg-white py-6 px-8 rounded">
            <div class="flex gap-4 items-center">
                <div class="bg-[#F2FAFF] text-[#45AAE4] rounded-full w-12 h-12 p-1 flex items-center justify-center">
                    <lucide-icon name="trending-up"></lucide-icon>
                </div>
                <div>
                    <p class="text-sm text-gray-500">Total Sales</p>
                    <h3 class="font-medium text-lg">4,42,236</h3>
                </div>
            </div>
            <div>
                <div class="flex items-center gap-1 bg-[#E6F4FF] text-blue-700 rounded px-2">
                    <span class="text-sm">3.47%</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-arrow-up">
                        <path d="m5 12 7-7 7 7" />
                        <path d="M12 19V5" />
                    </svg>
                </div>
            </div>
        </div>
        <!-- Col 3 -->
        <div class="flex justify-between items-center gap-2 bg-white py-6 px-8 rounded">
            <div class="flex gap-4 items-center">
                <div class="bg-[#FFF3E9] text-[#FA8D4C] rounded-full w-12 h-12 p-1 flex items-center justify-center">
                    <lucide-icon name="users"></lucide-icon>
                </div>
                <div>
                    <p class="text-sm text-gray-500">Total Customers</p>
                    <h3 class="font-medium text-lg">44</h3>
                </div>
            </div>
            <div>
                <div class="flex items-center gap-1 bg-[#E6F4FF] text-blue-700 rounded px-2">
                    <span class="text-sm">3.47%</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-arrow-up">
                        <path d="m5 12 7-7 7 7" />
                        <path d="M12 19V5" />
                    </svg>
                </div>
            </div>
        </div>
        <!-- Col 4 -->
        <div class="flex justify-between items-center gap-2 bg-white py-6 px-8 rounded">
            <div class="flex gap-4 items-center">
                <div class="bg-[#FEEFF1] text-[#E5487B] rounded-full w-12 h-12 p-1 flex items-center justify-center">
                    <lucide-icon name="trending-up"></lucide-icon>
                </div>
                <div>
                    <p class="text-sm text-gray-500">Total Page Views</p>
                    <h3 class="font-medium text-lg">4,42,236</h3>
                </div>
            </div>
            <div>
                <div class="flex items-center gap-1 bg-[#E6F4FF] text-blue-700 rounded px-2">
                    <span class="text-sm">3.47%</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-arrow-up">
                        <path d="m5 12 7-7 7 7" />
                        <path d="M12 19V5" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="grid lg:grid-cols-2 gap-6 my-4">
        <div class="bg-white p-8">
            <div class="flex justify-between items-center">
                <h1 class="mb-4">Recent Orders</h1>
                <a href="#" class="text-[13px] text-blue-700 hover:underline">View all (130)</a>
            </div>
            <div class="overflow-x-auto">
                <table class="min-w-full border border-gray-200 rounded-md text-left text-sm">
                  <thead>
                    <tr class="">
                      <th class="py-2 px-4 border-b">Tracking No.</th>
                      <th class="py-2 px-4 border-b">Product Name</th>
                      <th class="py-2 px-4 border-b">Total Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="py-2 px-4 border-b">13256498</td>
                      <td class="py-2 px-4 border-b">Keyboard</td>
                      <td class="py-2 px-4 border-b">$24</td>
                    </tr>
                    <tr class="bg-gray-50">
                      <td class="py-2 px-4 border-b">13256498</td>
                      <td class="py-2 px-4 border-b">Computer Accessories</td>
                      <td class="py-2 px-4 border-b">$33</td>
                    </tr>
                    <tr>
                      <td class="py-2 px-4 border-b">13256498</td>
                      <td class="py-2 px-4 border-b">Mobile</td>
                      <td class="py-2 px-4 border-b">$200</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        <div class="bg-white p-8">
            <div class="flex justify-between items-center">
                <h1 class="mb-4">Product stock alert</h1>
            </div>
            <div class="overflow-x-auto">
                <table class="min-w-full border border-gray-200 rounded-md text-left text-sm">
                  <thead>
                    <tr class="">
                      <th class="py-2 px-4 border-b">Tracking No.</th>
                      <th class="py-2 px-4 border-b">Product Name</th>
                      <th class="py-2 px-4 border-b">QTY</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="py-2 px-4 border-b">13256498</td>
                      <td class="py-2 px-4 border-b">Keyboard</td>
                      <td class="py-2 px-4 border-b">5</td>
                    </tr>
                    <tr class="bg-gray-50">
                      <td class="py-2 px-4 border-b">13256498</td>
                      <td class="py-2 px-4 border-b">Computer Accessories</td>
                      <td class="py-2 px-4 border-b">2</td>
                    </tr>
                    <tr>
                      <td class="py-2 px-4 border-b">13256498</td>
                      <td class="py-2 px-4 border-b">Mobile</td>
                      <td class="py-2 px-4 border-b">4</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
    </div>

    <div class="grid md:grid-cols-2 gap-6 my-4">
        <div class="bg-white p-8">
            <h1>Income VS Expense</h1>
            <div class="my-3">
                <app-income-expense-chart/>
            </div>
        </div>
    </div>
</div>