<div class="bg-white border-b-2 px-6 py-3 md:flex justify-between hidden ">
    <div class="flex items-center bg-gray-100 px-3">
        <lucide-icon size="18" name="search"></lucide-icon>
        <input type="text" placeholder="Search..." class="px-4 py-2 bg-gray-100 outline-none text-sm">
    </div>
    <div class="flex items-center gap-4 text-gray-500">
        <div class="border-[2px] rounded-full p-2">
            <lucide-icon name="bell" [size]="18"></lucide-icon>
        </div>
        <div class="flex items-center gap-2">
            <img width="30" src="https://avatars.githubusercontent.com/u/63993502?v=4" alt="" class="rounded-full">
            <span class="font-medium">
                Abdulqadir 👋
            </span>
        </div>
    </div>
</div>