<div class="bg-white border-b-2 px-6 py-3 flex justify-between items-center">
    <div class="">
        <div class="">
            logo
        </div>
    </div>
    <div class="flex items-center gap-4 text-gray-500">
        <div class="card flex justify-content-center">
            <p-menu #menu [model]="items" [popup]="true" />
            <p-button (onClick)="menu.toggle($event)">
                <lucide-icon name="bell" [size]="20"></lucide-icon>
            </p-button>
        </div>
        <div class="flex items-center gap-2">
            <img width="30" src="https://avatars.githubusercontent.com/u/63993502?v=4" alt="" class="rounded-full">
           @if (authService.currentUserSignal !== null) {
            <div class="font-medium capitalize leading-5">
                <p class="text-gray-900">{{authService.currentUserSignal()?.username}}</p>
                <p class="text-[12px]">{{authService.currentUserSignal()?.email}}</p>
            </div>
           }
        </div>
    </div>
</div>