
<div>
    <p>Customers</p>
    <div class="flex justify-between items-center">
        <button (click)="openCustomerDrawer()" class="bg-blue-700 text-white px-3 py-2 rounded-md my-4 text-sm flex items-center gap-2">
            <lucide-icon name="plus"></lucide-icon>
Create Customer</button>


        <app-drawer [isOpen]="isCustomerDrawerOpen" [title]="'Create Customer'" (onClose)="closeCustomerDrawer()">
            <app-customer-form/>
        </app-drawer>
        
        <button  class="bg-green-700 text-white px-3 py-2 rounded-md my-4 text-sm">
            Export to Excel
        </button>
    </div>

</div>