<div class=" p-6 bg-white rounded shadow">
  <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-3 gap-6 items-center">
      <!-- Customer Name -->
      <div class="mb-4">
        <label for="customer_id" class="block text-sm font-medium">Customer Name</label>
        <select id="customer" formControlName="customer_id"
          class="h-12 border capitalize my-2 border-gray-300 text-gray-600 text-base rounded-lg block w-full py-2.5 px-4 focus:outline-none">
          <option *ngFor="let customer of customerList" [value]="customer.id" class="capitalize">{{ customer.name
            }}
          </option>
        </select>
      </div>
      <!-- Invoice Date -->
      <div class="mb-4">
        <label for="sale_date" class="block text-sm font-medium">Invoice Date</label>
        <input type="date" id="sale_date" formControlName="sale_date"
          class="px-4 py-2 border-blue-700 border-[1px] w-full rounded-md my-2 focus:border-indigo-500 focus:ring-indigo-500" />
      </div>
    </div>
    <hr>
    <!-- Invoice Items -->
    <table class="min-w-full border-collapse">
      <thead>
        <tr class="bg-black text-white">
          <th class="border px-4 py-2 text-left">Product</th>
          <th class="border px-4 py-2 text-left">Quantity</th>
          <th class="border px-4 py-2 text-left">Price</th>
          <!-- <th class="border px-4 py-2 text-left">discount</th> -->
          <!-- <th class="border px-4 py-2 text-left">amount</th> -->
        </tr>
      </thead>
      <tbody formArrayName="items">
        <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
          <td class="border px-4 py-2">
            <select id="product_id" formControlName="product_id"
              class="h-12 border capitalize border-gray-300 text-gray-600 text-base rounded-lg block w-full py-2.5 px-4 focus:outline-none">
              <option selected disabled>Choose a product</option>
              <option *ngFor="let product of productList" [value]="product.id" class="capitalize">{{ product.name
                }}
              </option>
            </select>
          </td>
          <td class="border px-4 py-2">
            <input type="number" placeholder="Quantity" formControlName="quantity" class="w-full p-2 border rounded-md">
          </td>
          <td class="border px-4 py-2">
            <input type="number" placeholder="total_amount" formControlName="total_amount" class="w-full p-2 border rounded-md">
          </td>
          <!-- <td class="border px-4 py-2">
            <input type="number" placeholder="discount" formControlName="discount" class="w-full p-2 border rounded-md">
          </td> -->
          <!-- <td class="border px-4 py-2 flex items-center justify-between gap-3">
            <input type="number" placeholder="50000" formControlName="amount" class="w-full p-2 border rounded-md">
            <div class="flex justify-end mt-2">
              <button type="button" class="text-red-500 hover:text-red-700 text-2xl" (click)="removeItem(i)"
                *ngIf="items.length > 1">
                &times;
              </button>
            </div>
          </td> -->
        </tr>
      </tbody>
    </table>

    <!-- Add Item Button -->
    <div class="flex justify-end">
      <button type="button" class="bg-blue-700 text-white px-4 py-2 rounded" (click)="addItem()">
        Add Item
      </button>
    </div>

    <!-- Total -->
    <div class="mt-4">
      <p class="text-lg font-semibold">Total: ${{ getTotal() }}</p>
    </div>

    <!-- Submit Button -->
    <div class="flex justify-end mt-4">
      <button type="submit" class="bg-green-700 text-white px-4 py-2 rounded" [disabled]="!invoiceForm.valid">
        Submit Invoice
      </button>
    </div>
  </form>
</div>