<div class="bg-white p-10 rounded-md">
    <div class="mb-10">
        <h1 class="font-bold">Update Product</h1>
    </div>
    <div class="">
        <form class="space-y-4" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="name"  class="block text-sm font-medium text-gray-700">Product Name <span
                        class="text-red-600">*</span></label>
                <input id="name" formControlName="name" type="text"
                    class="mt-1 block w-full border  border-gray-300 p-2 rounded-md shadow-sm" [required]="true">
            </div>
            <div>
                <label for="phone" class="block text-sm font-medium text-gray-700">phone <span
                        class="text-red-600">*</span></label>
                <input id="phone" formControlName="phone" type="text"
                    class="mt-1 block w-full border border-gray-300 p-2 rounded-md shadow-sm" [required]="true">
            </div>

            <div>
                <label for="address" class="block text-sm font-medium text-gray-700">Address<span
                        class="text-red-600">*</span></label>
                <input id="address" formControlName="address" type="number"
                    class="mt-1 block w-full border border-gray-300 p-2 rounded-md shadow-sm" [required]="true">
            </div>
            <button type="submit" class="py-2 px-4 bg-blue-700 text-white rounded-md">Submit</button>
        </form>
    </div>

</div>