<div class="bg-white p-10 rounded-md">
    <div class="mb-10">
        <h1 class="font-bold">Update Product</h1>
    </div>
    <div class="">
        <form class="space-y-4" (ngSubmit)="onUpdate()" #productForm="ngForm">
            <div>
                <label for="name" class="block text-sm font-medium text-gray-700">Product Name <span
                        class="text-red-600">*</span></label>
                <input id="name" formControlName="name" type="text" [(ngModel)]="hello"
                    class="mt-1 block w-full border  border-gray-300 p-2 rounded-md shadow-sm" [required]="true">
            </div>
            <div>
                <label for="price" class="block text-sm font-medium text-gray-700">Price <span
                        class="text-red-600">*</span></label>
                <input id="price" formControlName="price" type="text"
                    class="mt-1 block w-full border border-gray-300 p-2 rounded-md shadow-sm" [required]="true">
            </div>

            <div>
                <label for="stock_quantity" class="block text-sm font-medium text-gray-700">Stock Quantity <span
                        class="text-red-600">*</span></label>
                <input id="stock_quantity" formControlName="stock_quantity" type="number"
                    class="mt-1 block w-full border border-gray-300 p-2 rounded-md shadow-sm" [required]="true">
            </div>

            <div>
                <label for="category" class="block text-sm font-medium text-gray-700">Category <span
                        class="text-red-600">*</span></label>
                <input id="category" formControlName="category" type="category"
                    class="mt-1 block w-full border border-gray-300 p-2 rounded-md shadow-sm">
            </div>

            <div>
                <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                <textarea rows="3" id="description" formControlName="description" type="description"
                    class="mt-1 block w-full border border-gray-300 p-2 rounded-md shadow-sm"></textarea>
            </div>
            <button type="submit" class="py-2 px-4 bg-blue-700 text-white rounded-md">Submit</button>
        </form>
    </div>

</div>