<h1>Products</h1>
<div class="flex justify-between items-center">
    <button (click)="openProductDrawer()"
        class="bg-blue-700 text-white px-3 py-2 rounded-md my-4 text-sm flex items-center gap-2">
        <lucide-icon name="plus"></lucide-icon>
        Create Product</button>
    <app-drawer [isOpen]="isProductDrawerOpen" [title]="'Create Product'" (onClose)="closeProductDrawer()">
        <app-product-form />
    </app-drawer>

</div>
<div>
    <button (click)="showToast()">Show Toast</button>
    <p-toast></p-toast>
    
</div>

<div class="bg-white capitalize">
    <p-table [value]="itemList" [tableStyle]="{ 'min-width': '50rem' }" 
    [paginator]="true" [rows]="10" 
 
    styleClass="p-datatable-striped p-datatable-gridlines" >
        <ng-template pTemplate="header" let-columns>
            <tr class="border-b">
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
                <th class="text-center">Options</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-columns="columns">
            <tr>
                <td>{{ product.name }}</td>
                <td>${{ product.price }}</td>
                <td>{{ product.stock_quantity }}</td>
                <td>{{ product.category }}</td>
                <th>
                    <button (click)="editProduct()" class="bg-blue-700 text-white px-4 py-2 text-sm mx-2">Edit</button>
                    <button (click)="deleteProduct(product)" class="bg-red-700 text-white px-4 py-2 text-sm mx-2">Delete</button>
                </th>
            </tr>
        </ng-template>
    </p-table>
</div>