<h1>Products</h1>
<div class="flex justify-between items-center">
    <button (click)="openProductDrawer()" class="bg-blue-700 text-white px-3 py-2 rounded-md my-4 text-sm flex items-center gap-2">
        <lucide-icon name="plus"></lucide-icon>
Create Customer</button>
    <app-drawer [isOpen]="isProductDrawerOpen" (onClose)="closeProductDrawer()">
        <app-product-form/>
    </app-drawer>
    
    <button (click)="onBtExport()" class="bg-green-700 text-white px-3 py-2 rounded-md my-4 text-sm">
        Export to Excel
    </button>
</div>
<ag-grid-angular 
[rowData]="itemList" 
[columnDefs]="colDefs" 
[defaultColDef]="defaultColDef" 
[rowSelection]="rowSelection"
[pagination]="true"
[paginationPageSize] = "paginationPageSize"

(gridReady)="onGridReady($event)"
style="height: 500px;"
    class="ag-theme-quartz" />